/* Googel font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Golobel css  */
body{
    font-family: 'Poppins', sans-serif;
}
 .carousel-caption h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;    
    text-align: center;
    color: #FFFFFF;
}
.carousel-caption p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px; 
    text-align: center;   
    color: #F4F4F4;
}
.carousel-caption button{
    padding: 10px 30px;
}  

.carousel-item::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0.7;
} 

